#landing_1,
.landing_1 {
  background: url(../assets/Navbar_BG_Test.png) no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.4fr repeat(2, 1fr) 0.4fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "1 l1_txt l1_img 4"
    "1 l1_txt l1_img 4";
  column-gap: 2.5em;
}

.landing_1_text {
  align-self: center;
  justify-self: center;
  grid-area: l1_txt;
  margin: 0 2em;
}

.landing_1_img {
  grid-area: l1_img;
  width: 100%;
  height: 100%;
  background: url(../assets/Landing_1_Logo_V2.png) no-repeat;
  background-size: contain;
  /* align-self: center; */
  /* justify-self: center; */
  margin: 15em auto;
}

.landing_1_slogan {
  margin: 6em 0 0 0;
}

@media all and (min-width: 650px) and (max-width: 1000px) {
  #landing_1,
  .landing_1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "l1_txt"
      "l1_img";
  }

  .landing_1_img {
    margin: auto 25vw;
  }

  .landing_1_text {
    text-align: center;
  }
}

@media all and (max-width: 650px) {
  #landing_1,
  .landing_1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "l1_txt"
      "l1_img";
  }

  .landing_1_img {
    margin: auto 15vw;
    width: 90%;
    height: 90%;
  }

  .landing_1_text {
    text-align: center;
  }
}
